{% extends 'base.html' %}

{% block 'content' %}{% endblock 'content' %}
    <div class="container">

        <!--navigation-->
        <div class="navigate">
            <span> <a href= "#"> Home =  My Recipie</a> >> <a href="#"> Meals</a></span>

        </div>
    
       <div class="posts-table">
        <div class="Meal-type-header">
            <div class="meal-type">Meal type
            </div>
            <div class="Recipie-by"> Recipie by</div>  
            <div class="rating">Rating
            </div>
        </div>
            <br>
            <div class="Meal-type-row">
                <div class="meal"><a href="##"> meal name</a></div>
                <br>
                <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
                <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                </div>
             </div>
        </div>

        <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>

         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>

         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
        </div>

        <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>

         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>

         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>


         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>

         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>

         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>

         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div>

         <div class="Meal-type-row">
            <div class="meal"><a href="##"> meal name</a></div>
            <br>
            <div class="recipie-by"><span> .<b><a href="###">User</a></b>.</span></div>  
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
            </div>
         </div> 
    </div> 
    <!--pagination-->
        <div class="pagination">
            pages:<a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a>
        </div>


    <div class="page-info">
        abouttttts
    
    </div>
    {% endblock 'content' %}